-var path = '../';
-var head_url = 'https://kudryashova.iomp.online/illusions/course/';
-var head_title = '«Курс: На отношения! Как не сбиться с пути...»';
-var head_description = 'Обучающий курс Тамары Кудряшовой';
-var styles = path+'css/course.min.css';
-var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/course.js';
-var noref = true;
-var io = true;
-var ah = true;
-var fullMenu = true;
-var cMenu = true;
-var cLibs = true;
-var politics = 'https://mastervision.su/politics-i.pdf';
//- -var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'

mixin b(cl, clb, href='#prices', p, target, id)
	.button-wrapper(class=cl)
		a.button(class=clb href=href, target=target id=id)=p
mixin imgs(cl,src,alt)
	img(class=cl src=path+src alt=alt)
mixin gt(cl,h3)
	h3.general-title(class=cl)=h3

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			include pug/course/1-main
			include pug/course/2-for
			include pug/course/3-lets
			include pug/course/4-plan
			include pug/course/5-prices
			include pug/course/6-get
			include pug/course/7-author
			//- include pug/course/8-rec
		include pug/base/2-footer
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts