mixin l(n, p)
	.lesson(class=`lesson-${n}`)
		h3.lesson-title=`Часть ${n}`
		p.lesson-text=p

section#plan
	.container
		+gt('','ПЛАН МАСТЕР-КЛАССА:')
		.lessons-wrapper
			.lessons
				+l('1','Почему ты хочешь одни отношения, а по факту имеешь другие?')
				.marquee.marquee-plan
				+l('2','На чём строятся отношения в паре?')
				.marquee.marquee-plan
				+l('3','Как коммуникация с партнером проявляется в отношениях?')
				.marquee.marquee-plan
				+l('4','Из чего состоит коммуникация?')
				.marquee.marquee-plan
				+l('5','Условия эффективного общения с мужчиной')
				.marquee.marquee-plan
				+l('6','3 главных ошибки женщин при общении с мужчинами')
				.marquee.marquee-plan
				+l('7','Почему в твоих отношениях ничего не меняется?')
				.lesson
					form(action!=action+group method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target=form_target).form.form-desktop.form-plan
						.email-block.email-block-form
							input( type="hidden" value="1" name="required_fields[email]")
							input(class="input input-mail input-mail-plan" name="Contact[email]" type="text" placeholder="E-mail")
						button(type="submit").button.button-form.button-form-plan Хочу все изменить
						.clearfix
						p.alert-message
						.checking.checking-plan
							input(type="checkbox" id="check-3").check
							label(for="check-3").check-label.check-label-dark Я согласен с 
								a(href=politics target="_blank") условиями обработки
								|  персональных данных по 152 - Ф3
						div(style="display: none;")
							#formTypeSpecificVars-3(style="display: none;")
								input(type="hidden" value=group id="form_newsletter_id_newsletter_3" name="Contact[id_newsletter]")
							<!-- API код канала рекламы -->
							input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page_3" name="Contact[id_advertising_channel_page]")
							input(type="hidden" name="formId" value=formId)
							input(type="hidden" name="formVc" value=formVc)
							input(type="hidden" name="_aid" value="")
							input(type="hidden" name="_vcaid" value="")