section#questions
	.container
		h3.general-title.general-title-white ТЫ ВСЁ ЕЩЁ ДУМАЕШЬ, ЧТО ЭТО НЕ ДЛЯ ТЕБЯ?
			br
			| ТОГДА ОТВЕТЬ НА ВОПРОСЫ:
		.question.question-1
			.marquee.marquee-question
				p.question-stroke Ты сейчас так же счастлива, как в начале ваших отношений? Ты сейчас так же счастлива, как в начале ваших отношений?
			p.question-stroke.question-stroke-mobile Ты сейчас так же счастлива, как в начале ваших отношений?
			.answer
				h5.answer-number 1.
				p.answer-text Многие думают, что то, что любовь и счастье уходит из отношений - это нормально, но это не так!
		.question.question-2
			.marquee.marquee-question
				p.question-stroke Ты получаешь то внимание и восхищение во взгляде мужчины, как раньше? Ты получаешь то внимание и восхищение во взгляде мужчины, как раньше?
			p.question-stroke.question-stroke-mobile Ты получаешь то внимание и восхищение во взгляде мужчины, как раньше?
			.answer
				h5.answer-number 2.
				p.answer-text Можно сказать, что всё со временем приедается, и не брать на себя ответственность за то, чтобы продолжать оставаться интересной для своего мужчины.
				p.answer-text Но вот что-то конфетки и пироженки нам до сих пор не приелись за десятки лет! Можно и нужно учиться тому, чтобы вызывать восхищение у своего мужчины даже спустя годы совместной жизни.
		.question.question-3
			.marquee.marquee-question
				p.question-stroke Ты  чувствуешь, что мужчина счастлив рядом с тобой и ценит тебя? Ты  чувствуешь, что мужчина счастлив рядом с тобой и ценит тебя?
			p.question-stroke.question-stroke-mobile Ты  чувствуешь, что мужчина счастлив рядом с тобой и ценит тебя?
			.answer
				h5.answer-number 3.
				p.answer-text Не спеши с ответом, ведь ты скорее всего даже не спрашивала у своего партнера счастлив ли он с тобой, а стоило бы узнать правду.
		.question.question-4
			.marquee.marquee-question
				p.question-stroke Хочешь ли ты снова слышать комплименты от мужчины и быть уверенной в том, что он не смотрит на других? Хочешь ли ты снова слышать комплименты от мужчины и быть уверенной в том, что он не смотрит на других?
			p.question-stroke.question-stroke-mobile Хочешь ли ты снова слышать комплименты от мужчины и быть уверенной в том, что он не смотрит на других?
			.answer
				h5.answer-number 4.
				p.answer-text Если в твоих отношениях поселилась ревность на регулярной основе, то что-то пошло не так.
		.question.question-5
			.marquee.marquee-question
				p.question-stroke Хочешь знать, как выйти из руины и перейти на новый, более близкий уровень отношений? Хочешь знать, как выйти из руины и перейти на новый, более близкий уровень отношений?
			p.question-stroke.question-stroke-mobile Хочешь знать, как выйти из руины и перейти на новый, более близкий уровень отношений?
			.answer
				h5.answer-number 5.
				p.answer-text Когда отношения развиваются - происходит сближение партнеров, появляется больше доверия и искренности. В твоих отношениях так?
		.question.question-6
			.marquee.marquee-question
				p.question-stroke Хочешь понимать и уметь прогнозировать поведение мужчины? Хочешь понимать и уметь прогнозировать поведение мужчины?
			p.question-stroke.question-stroke-mobile Хочешь понимать и уметь прогнозировать поведение мужчины?
			.answer
				h5.answer-number 6.
				p.answer-text Часто мы ожидаем от мужчины одних действий, а в итоге наблюдаем совершенно другие, что приводит к обидам и разочарованиям.
				p.answer-text Это происходит тогда, когда нет знаний в области психологии мужчин, их потребностей и поведения.
		form(action=action+group method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" target=form_target).form.form-desktop.form-questions
			.email-block.email-block-form
				input( type="hidden" value="1" name="required_fields[email]")
				input(class="input input-mail input-mail-questions" name="Contact[email]" type="text" placeholder="E-mail")
			button(type="submit").button.button-form.button-form-questions Записаться на мастер-класс
			.clearfix
			p.alert-message
			.checking.checking-questions
				input(type="checkbox" id="check-5").check
				label(for="check-5").check-label Я согласен с 
					a(href=politics target="_blank") условиями обработки
					|  персональных данных по 152 - Ф3
			div(style="display: none;")
				#formTypeSpecificVars-5(style="display: none;")
					input(type="hidden" value=group id="form_newsletter_id_newsletter_5" name="Contact[id_newsletter]")
				<!-- API код канала рекламы -->
				input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page_5" name="Contact[id_advertising_channel_page]")
				input(type="hidden" name="formId" value=formId)
				input(type="hidden" name="formVc" value=formVc)
				input(type="hidden" name="_aid" value="")
				input(type="hidden" name="_vcaid" value="")